{%extends "plantilla/base.html"%}

{%block title%}Simulación Imagenes{%endblock%}

{% block content %}

<h1> Botones para mover el motor   </h1>

<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Seleccionar dirección
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" onclick="mover('izquierda')">Izquierda</a></li>
    <li><a class="dropdown-item" href="#" onclick="mover('derecha')">Derecha</a></li>
  </ul>
</div>



{%endblock%}