{%extends "plantilla/base.html"%}

{%block title%}Movimiento{%endblock%}

{% block content %}

<h1>Botones para mover el motor</h1>


<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Seleccionar dirección
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" onclick="mover('adelante')">Adelante</a></li>
    <li><a class="dropdown-item" href="#" onclick="mover('atras')">Atras</a></li>
    <li><a class="dropdown-item" href="#" onclick="mover('detener')">Detenerse</a></li>
  </ul>
</div>

<p id="estadoMotor" class="mt-3 text-info">
  Estado: 
</p>

<script src="{{ url_for('static', filename='js/simulacion-movimiento.js') }}"></script>

{%endblock%}