{%extends "plantilla/base.html"%}

{%block title%}Simulación Imagenes{%endblock%}

{% block content %}

<h1> grafico de presion intracraneal recibido del sensor en mmHg (milimetros de mercurio) </h1>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Presión intracraneal (simulación)
            </div>
            <div class="card-body"><canvas id="pic" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>

{%endblock%}